body {
	background-color: #eeeeee;
}

header {
	font-size: 26px; 
	color: #4289f0;
	width: 100%;
	padding: 20px;
	background-color: #ffffff;
	font-family: helvetica;
	bottom: 0px;
	position: fixed;
}

h3 {
	font-size: 18px; 
	font-family: helvetica;
	padding: 20px;
	color: #3b3b3b;
}


section a {
	font-size: 16px; 
	font-family: helvetica;
	padding: 20px;
	text-decoration: none;
	color: #959888;
}

section a:hover {
	text-decoration: line-through;
}

