body {
	background-color: #a7c7d4;
}

header {
	font-size: 24px; 
	color: #3681e2;
	width: 100%;
	padding: 20px;
	background-color: #f6ffed;
	font-family: helvetica;
	bottom: 0px;
	position: fixed;
}

h3 {
	font-size: 18px; 
	font-family: helvetica;
	padding: 20px;
	color: #f6ffed;
	margin-top: 225px;
}

section a {
	font-size: 18px; 
	font-family: helvetica;
	color: #f6ffed;
	text-decoration: none;
	line-height: 32px;
	margin: 0px 30px 0px 20px;
}


section a:hover 

{
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	transition: color 0.5s;
}

section a::before {
	position: absolute;
	top: 100%;
	left: 0%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: .6em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-80%);
	-moz-transform: translateX(-80%);
	transform: translateX(-80%);
	pointer-events: none;
}

section a:hover::before,
section a:focus::before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}

section a:hover,
section a:focus {
	color: #d4dccc;
}

section {
	width: 150px;
	float: left;
}

#logo {
	color: white;
}