/* Browser */

body {
	background: url(../images/subtle_dots.png);
}
.browser {
	width: 100%;
}

/* Typography */
.browser {
	font-family: Helvetica, Arial, sans-serif;
}

a {
	font-size: 16px;
	color: #008dd4;
	text-decoration: none;
}

/* Header */

header {
	background: white;
	position: fixed;
	width: 100%;
	border-bottom: 2px solid lightgray;
	}

header nav a {
	color: #999999;
	float: right;
	margin: 20px 20px 15px 2px;
	font-size: 16px;
}

header nav a:hover {
	color: #686868;
}

#logo {
	padding: 10px 10px 10px 10px;
	float: left;
	margin-right: 0px
}


/* Side Navigation */

h5 {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 17px;
	color: darkgray;
}

.aside {
	margin: 100px 50px 0px 15px;
	width: 115px;
	line-height: 26px;
	position: fixed;
}

.aside a:hover {
	color: #19589b;
}

/* Album Gallery */
.album-gallery {
	float: left;
	width: 1200px;
	margin: 75px 5px 0px 250px;
}


/* Albums */
.album {
	float: left;
	width: 200px;
	padding: 25px;
}

.album:hover {
	background-color: #f0f0f0;
}


h2 {
	width: 200px;
	float: left;
	color: #7a7a7a;
}


h3 {
	width: 200px;
	float: left;
	color: #b0b0b0;
}