/* Color */

body {
    background-color: #131314;
}

/* Typography */
.AvenirLT-Roman { 
    font-family: "AvenirLT-Roman";
    font-weight: normal;
    font-style: normal;
}
.AvenirLT-Heavy { 
    font-family: "AvenirLT-Heavy";
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

a, span.link {
  color: #131314;
}

a:active, span.active {
   /*color: #131314;*/
}

a:hover {
    color: gray;
}
h1 {
    font-family: "AvenirLT-Roman", Helvetica;
    font-weight: 500;
    line-height: 1.2em;
    color: #131314;
}

h2 {
    font-family:"Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
    color: #131314;

}

h3 {
    font-family: "AvenirLT-Heavy", Helvetica;
    font-size: 16px;
    color: #131314;

}

h4 {
    font-family: "AvenirLT-Roman", Helvetica;
    font-size: 2.3em;
    font-weight: 500;
    line-height: 1.3em;
    color: #131314;
}

.about h4 {
    margin-top: 1em;
}
p {
    font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 21px;
    margin: 20px 20px 0px 0px;
    color: #131314;
}

ul {
    font-family: "Maison Mono Light", "Consolas" , monospace; font-weight:200; font-style:normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 21px;
}


nav a {
    text-decoration: none;
    font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
    font-weight: 100;
    font-size: 12px;
}

/* Composition */

.container {
    max-width: 960px;
    margin: 0 auto;
}

.story {
    margin: 0 auto;
}


nav {
    float: right;
    word-spacing: 70px;
}

header {
    height: 75px;
    position: fixed;
    max-width: 960px;
    padding: 40px 0px 0px 0px;
}


h1 {
    float: left;
    vertical-align: baseline;
}

h2 {
    padding: 200px 0px 0px 0px;
}

h3 {
    float: left;
    clear: left;
    padding-top: 10px;
}


.concept-statement h4{
    height: 400px;
    margin: 100px auto;
    color: white;

}

.about {
    margin: 250px auto;
    height: 400px;
}

ul {
    text-decoration: none;
    font-family: "Maison Mono Light", "Consolas" , monospace; font-weight:200; font-style:normal;
    font-size: 12px;
    float: right;   
}

.sources-list li {
    margin-top: 18px;
}

/* Sections */

.learning-section {
    margin-bottom: 20px;
    height: 500px;
}

.currently-learning {
    width: 500px;
    float: left;
}

.learning-list {
    width: 295px;
}

.past-section {
    margin-bottom: 20px;
    height: 600px;
}

.past-projects {
    width: 500px;
    float: left;  
}

.projects-list {
    width: 295px;
}

.sources-section {
    margin-bottom: 20px;
    height: 700px;
}

.sources {
    width: 500px;
    float: left;  
}

.sources-list {
    width: 295px;
}

.connect-section {
    height: 550px;
    margin-bottom:20px;
}

.contact-title {
    width: 500px;
    float: left;
}

.connect-section p {
    width: 481px;
    float: left;
}

.connect-list {
    width: 295px;
}

/* Footer */
footer{
    /*Background-color: #ffc300;*/
    width: 100%;
    height: 200px;
    padding-top: 20px;
    text-align: center;
}

/* Images */
footer img {
    width: 11%;
    min-width: 75px;
}

header img {
    width: 9%;
    min-width: 25px;
    float: right;
    clear: right;
    padding-right: 20px;
}


/* Media Queries */
@media {

}

@media only screen and (max-width: 1000px){
 .container {
        width: 100%;
    }

    header {
    padding: 40px 20px 0px 20px;
    }

    .story {
        margin: 0px 20px 80px 20px;
    }

}

@media only screen and (max-width: 900px){
    .container {
        width: 100%;
    }

    header {
    padding: 40px 20px 0px 20px;
    }

    nav {
        padding-right: 40px;
    } 

    .story {
        margin: 0px 20px 80px 20px;
    }

    h4 {
        font-size: 1.9em;
    }
   
    .currently-learning {
        width: 400px;
    }

    .past-projects {
        width: 400px;
        float: left;  
    }

    .sources {
        width: 400px;
        float: left;  
    }

    .contact-title {
        width: 390px;
    }

    .connect-section p {
        width: 370px;
        float: left;
        clear: left;
    }

}

@media only screen and (max-width: 768px){
    .container {
        width: 100%;
    }

    header {
    padding: 40px 20px 0px 20px;
    }

    nav {
        display: none;
    }

    .story {
        margin: 0px 20px 80px 20px;
    }

    h4 {
        font-size: 1.5em;
        padding: 0px;
    }

    ul {
        text-decoration: none;
        font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
        font-size: 12px;
        float: left;
        clear: left;
        padding-top: 20px;  
    }

    .learning-list {
        width: 295px;
    }

    .past-projects {
        width: 390px;
        float: left;  
    }

    .sources-list li {
        margin-top: 18px;
    }

    .contact-title {
        width: 390px;
    }

    .connect-section p {
        width: 370px;
        float: left;
        clear: left;
    }

    .connect-list {
        width: 320px;
    }

}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
    }
    
    header {
    padding: 40px 20px 0px 20px;
    }
    
     nav {
        display: none;
    }

    .story {
        margin: 0px 20px 80px 20px;
    }

    h4 {
        font-size: 1.5em;
        padding: 0px;
    }

    ul {
        text-decoration: none;
        font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
        font-size: 12px;
        float: left;
        padding-top: 20px;  
    }

    .learning-list {
        width: 295px;
    }

    .past-projects {
        width: 390px;
        float: left;  
    }

    .sources-list li {
        margin-top: 18px;
    }

    .contact-title {
        width: 340px;
        float: left;
    }

    .connect-section p {
        width: 320px;
        float: left;
    }

    .connect-list {
        width: 320px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 400px){
    body {
        width: 100%;
    }

    header {
    padding: 40px 20px 0px 20px;
    }

    nav {
        display: none;

    }

    .story {
        margin: 0px 20px 80px 20px;
    }

    h1 {
        float: left;
        vertical-align: baseline;
    }

    h2 {
        padding: 200px 0px 0px 0px;
    }

    h3 {
        float: left;
        clear: left;
        padding-top: 10px;
    }

    h4 {
        font-size: 1.5em;
        padding: 0px;
    }

    ul {
        text-decoration: none;
        font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
        font-size: 12px;
        float: left;
        padding-top: 20px;  
    }

    .past-projects {
        width: 320px;
        float: left;  
    }

    .sources-list li {
        margin-top: 18px;
    }

    .contact-title {
        width: 320px;
        float: left;
    }

    .connect-list {
        width: 320px;
    }
}

