/*structure*/

body {
	background-color: #f7fdf6;
	width: 5500px;
}

.container {
	width: 100%;
}

aside {
	max-width: 400px;
	position: fixed;
	padding: 0px 15px 0px 35px;
	/*background-color:#a5c9b1;*/
	height: 100%;
}

.sounds {
	padding-top: 200px;
	margin: 0px 545px 0px 250px;
}

/* circles */

.circle-c {
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background: black;
	margin: 50px;
	position: relative;
	float: right;
}


.circle-d {
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background: #ebc220;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-e {
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background: white;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-f{
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background: red;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-g{
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background: #64b5dc;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-a {
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background:green;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-b{
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background: #3c55f2;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-ch{
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background:lightgray;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-special{
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	background: pink;
    transition: background .7s ease, padding: .07s linear;
;
    -webkit-transition: background .7s ease;
    -moz-transition: background .7s ease;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-dotted{
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	border: lightgray dotted 2px;
    transition: background .7s ease, padding: .07s linear;
;
    -webkit-transition: background .7s ease;
    -moz-transition: background .7s ease;
	margin: 50px;
	position: relative;
	float: right;
}

.circle-special:hover {
	background:#31a4f3;
}

/* typography */
h1 {
	font-family: "univers 55", helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 40px;
	color: #6c6e6e;
    transition: color 0.8s ease;
    -webkit-transition: color 0.8s ease;
    -moz-transition: color 0.8s ease;
}

h1:hover {
    color: #d3d8d3;
}

p {
	font-family: "univers 45", helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: .9em;
	color: #9ea29e;
}

p a:visited {
	color: #9ea29e;
}

p a:hover {
	color: #d3d8d3;
}

#guide p {
	width: 200px;
	float: left;
	margin: 505px 0px 0px 484px;
	position:absolute;
	text-align: center;
}

#guide h5 {
	font-size: 3.7em;
	float: left;
	margin: 420px 0px 0px 542px;
	color: #d3d8d3;
	position:absolute;
}

/* media queries */