
/* Typography */

a {
    text-decoration: none;
}

a, span.link {
  color: black;
}

a:active, span.active {
   color: blue;
}

a:hover {
    color: gray;
    border-bottom: 1px solid gray;
}
h1 {
    font-family: "HelveticaNeue", Helvetica;
    font-weight: 500;
    width: 20px;
    line-height: 1.2em;
}

h2 {
    font-family: "Maison Mono Trial";
    font-size: 12px;
    line-height: 16px;
}

h3 {
    font-family: "HelveticaNeue-Light", Helvetica;
    font-weight: 800;
    font-size: 16px;
}

h4 {
    font-family: "HelveticaNeue", Helvetica;
    font-size: 2.2em;
    font-weight: 500;
    line-height: 1.3em;
}

p {
    font-family: "Maison Mono TRIAL" courier;
    font-weight: 100;
    font-size: 13px;
    line-height: 21px;
    margin: 0px 20px 0px 20px;
}

ul {
    font-family: "Maison Mono TRIAL" courier;
    font-weight: 100;
    font-size: 13px;
    line-height: 21px;
    margin: 0px 20px 0px 20px;  
}


nav a {
    text-decoration: none;
    font-family: "Maison Mono Trial" courier;
    font-weight: 100;
    font-size: 12px;
}


/* Composition */

.container {
    max-width: 970px;
    margin: 0 auto;
}

nav {
    float: right;
    margin: 20px 85px 0px 0px;
    word-spacing: 70px;

}

.story {
    margin: 0px auto 80px auto;
}

h1 {
    margin: 20px 0px 0px 21px;
}

h2 {
    padding: 200px 0px 4px 20px;
}

h3 {
    margin: 11px 20px 20px 21px;
}

h4 {
    margin: 20px;
}

header {
    background: white;
    width: 100%;
    height: 105px;
    margin: 0 auto;
    position: fixed;
    padding-top: 3px;
    max-width: 970px;

}

.concept-statement {
    margin-top: 20px;
}

.story p {
    margin-right: 70px;
}
ul {
    text-decoration: none;
    font-family: "Maison Mono Trial"; 
    font-size: 12px;
    float: right;   
}

.sources-list li {
    margin-top: 18px;
}

/* Sections */

.learning-section {
    margin-bottom: 20px;
    height: 250px;
}

.currently-learning {
    width: 500px;
    float: left;
}

.learning-list {
    width: 300px;
    margin: 40px 80px 50px 30px;
}

.past-section {
    margin-bottom: 20px;
    height: 500px;
}

.past-projects {
    width: 500px;
    float: left;  
}

.projects-list {
    width: 300px;
    margin: 60px 80px 50px 30px;
}

.sources-section {
    margin-bottom: 20px;
    height: 700px;
}

.sources {
    width: 300px;
    float: left;  
}

.sources-list {
    width: 300px;
    margin: 0px 80px 50px 30px;
}


.connect-section {
    height:500px;
    margin-bottom:20px;
}

.contact-title {
    width: 500px;
    float: left;
}

.connect-list {
    width: 300px;
    margin: 0px 80px 50px 30px; 
}


.connect-section p {
    width: 470px;
    height: 60px;
}

/* Footer */
footer{
    /*Background-color: #ffc300;*/
    width: 100%;
    bottom: 0px;
    height: 175px;
    text-align: center;
}

/* Images */
footer img {
    width: 2%;
    margin-top: 0;
    min-width: 100px;
}

h5 {
    font-family: "Maison Mono TRIAL"courier;
    font-weight: 100;
    font-size: 13px;
    line-height: 21px;
}

/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
















}